body {
    background-color: rgb(245, 235, 174); /* Color de fondo */
    background-image: url('images/Picture1.jpg'); /* Imagen de fondo */
    background-size: cover; /* Ajuste para cubrir todo el fondo */
    background-repeat: no-repeat; /* Evitar repetición de la imagen */
    background-attachment: fixed; /* Fondo fijo al hacer scroll */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Tamaño completo de la pantalla */
    font-family: 'Lato', sans-serif;
    margin: 0;
}

.card {
    width: 400px;
    margin: 0 auto; /* Centra horizontalmente */
    margin-top: 50px; /* Ajuste para centrar verticalmente */
    border-radius: 20px;
    background-image: url('images/Picture1.jpg'); /* Imagen de fondo */
    background-size: cover; /* Ajuste para cubrir todo el fondo */
    background-repeat: no-repeat; /* Evitar repetición de la imagen */
    background-position: center; /* Centrar la imagen */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.card-title {
    background-color: transparent; /* Fondo transparente */
    border-bottom: none; /* Sin borde inferior */
    padding: 1rem 0;
    border-radius: 20px 20px 0 0;
    text-align: center; /* Alineación centrada del título */
    color: rgb(16, 29, 40); /* Color del texto del título */
    margin-bottom: 0; /* Elimina el margen inferior */
}

.card-body {
    background-color: transparent; /* Fondo transparente */
    color: rgb(16, 29, 40); /* Color de texto */
    border-radius: 0 0 20px 20px;
    padding: 2rem;
}

.form-group {
    margin-bottom: 1rem;
}

.form-control {
    border: none; /* Elimina el borde de los campos */
    border-bottom: 2px solid rgba(0, 0, 0, 0.2); /* Borde inferior */
    border-radius: 0; /* Elimina el redondeo del borde inferior */
    background-color: rgba(255, 255, 255, 0.5); /* Color de fondo con transparencia */
    box-shadow: none; /* Sin sombra */
}

.form-control:focus {
    border-color: rgba(0, 0, 0, 0.3); /* Cambia el color del borde al enfocar */
    background-color: rgba(255, 255, 255, 0.7); /* Color de fondo más claro al enfocar */
}

.btn-primary {
    background-color: #007bff; /* Color de fondo del botón primario */
    border: none; /* Sin borde */
    border-radius: 5px; /* Borde redondeado */
    padding: 10px 20px; /* Ajuste de relleno */
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #0056b3; /* Color de fondo al pasar el ratón */
}

.btn-secondary {
    background-color: #6c757d; /* Color de fondo del botón secundario */
    border: none; /* Sin borde */
    border-radius: 5px; /* Borde redondeado */
    padding: 10px 20px; /* Ajuste de relleno */
    cursor: pointer;
}

.btn-secondary:hover {
    background-color: #545b62; /* Color de fondo al pasar el ratón */
}